<div class="about_component">
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
  <h4>this is some stuff about me</h4>
</div>
